// font
$font: 'proxima_nova_rgregular', 'Helvetica Neue', sans-serif
$font-light: 'proxima_novalight', 'Helvetica Neue', sans-serif
$font-semibold: 'proxima_novasemibold', 'Helvetica Neue', sans-serif
$font-bold: 'proxima_nova_rgbold', 'Helvetica Neue', sans-serif

// color
$color: #666
$color-bodybg: #f4f4f4
$color-brand-green: #93c345
$color-brand-dark: #344452
$color-border: #e0e0e0
$color-footer-bg: #2a2b2d
$color-footer-text: #f4f4f4

// measurement
$gutter: 15px